<head>
   <meta charset="utf-8">
   <meta name="author" content="ademuyiwa adewuyi">
   <meta name="keywords" content="html, css, blog, fullstack">
   <meta name="description" content="The blog post, my first full stack project">
   <link rel="stylesheet" href="/css/all.css">
   <link rel="stylesheet" href="/style.css" type="text/css">
   <title>The Blog Post | <%= title %></title>
</head>