<nav>
   <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/users">Bloggers</a></li>
      <li><a href="/users/dashboard">Dashboard</a></li>
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/login">Login</a></li>
      <!-- <li><a href="/new-blog">New Blog</a></li> -->
   </ul> 
</nav>