<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head.ejs") %> <!-- Head file-->
   <body>
      <header class="banner">
         <%- include("./partials/nav.ejs") %> <!-- navigation file -->
      </header>
      <section class="about">
         <h1>Welcome to Blogmin</h1>
         <div class="intro">
            <h4>Create awesome memories by curating them on here with words.</h4>
            <p>Feel free to discuss any topics of your choosing. From programming to philosophy to relationship talks to sex talks, our platform gets you covered. Our aim is to curate your thoughts, add sparkles of eternity, and make them available even to the thoudands generations to come. </p>
         </div>
         <div class="privacy">
            <p>Afraid of your privacy or security? Blogmin got your covered. We take the privacy of users seriously. It's the first on our agenda.</p>
         </div>
         <div>
            <h3>Languages I cover:</h3>
            <ul class="languages">
               <li>HTML</li>
               <li>CSS</li>
               <li>JavaScript</li>
               <li>Node js</li>
               <li>Git and Githhub</li>
            </div>
         </ul>
      </section>
      <%- include("./partials/footer.ejs") %> <!-- footer file -->
   </body>
</html>