<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head.ejs") %> <!-- Head file-->
   <body>
      <header class="banner">
         <%- include("./partials/nav.ejs") %> <!-- navigation file -->
         <a href="/users/dashboard">dashboard</a>
      </header>
      <form action="/blogs" method="POST">
         <div class="form-row">
            <label for="title">Blog Title:</label>
            <input type="text" name="title" id="title" required>
         </div>
         <div class="form-row">
            <label for="snippet">Blog Snippet:</label>
            <input type="text" name="snippet" id="snippet" required>
         </div>
         <div class="form-row">
            <label for="body">Blog Body:</label>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
         </div>
         <button id="blog-btn">Submit</button>
      </form>
      <%- include("./partials/footer.ejs") %> <!-- footer file -->
   </body>
</html>