*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: aliceblue;
   font-family: "segoe ui", sans-serif;
   line-height: 1.8;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-size: 0.8rem;
}

a {
   text-decoration: none;
   text-transform: capitalize;
   padding: 0.5em;
   font-weight: 700;
   color: rgba(0, 0, 0, .75);
   font-size: 0.9rem;
}

h1, h2, h3 {
   margin-bottom: 1rem;
   font-size: 1.6rem;
}

p {
   margin-bottom: 0.5rem;
}

ul {
   list-style: none;
   padding: 1em;
}

li {
   margin-bottom: 1rem;
}

button {
   background-color: rgba(23, 23, 63, 0.733);
   color: #fff;
   border: none;
   cursor: pointer;
   padding: 0.5em;
   font-family: inherit;
   border-radius: 3px;
}

p.users {
   padding: 0.5em;
   text-transform: uppercase;
   font-weight: 500;
   color: rgba(0, 0, 0, .6);
}

/* Header Section */
.banner {
   width: 100%;
   background-color: #393f4d;
   padding: 1em 2em;
   color: #feda6a;
}

.banner-logo {
   position: relative;
   display: flex;
}

.banner #toggler {
   position: absolute;
   top: 5px;
   right: 0;
   width: 30px;
   height: 20px;
   z-index: 2;
   opacity: 0;
   cursor: pointer;
}

.banner .hamburger {
   position: absolute;
   top: 5px;
   right: 0;
   width: 30px;
   height: 30px;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 400ms ease;
}

.banner .hamburger::before,
.banner .hamburger::after {
   content: "";
   position: absolute;
   top: 7px;
   left: 0;
   width: 100%;
   height: 3px;
   background-color: #d4d4dc;
   border-radius: 5px;
   transition: transform 400ms ease;
}

.banner .hamburger::after {
   top: 20px;
}

.banner .hamburger > div {
   height: 3px;
   width: 100%;
   background-color: #d4d4dc;
   border-radius: 5px;
   transition: transform 500ms ease-out;
}

.banner #toggler:checked + .hamburger::before {
   transform: rotate(40deg) translateY(8px);
}

.banner #toggler:checked + .hamburger::after {
   transform: rotate(-40deg) translateY(-9px);
}

.banner #toggler:checked + .hamburger > div {
   transform: scale(0);
}

.banner .main-links {
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   background-color: #feda6a;
   border-radius: 10px;
   text-align: center;
   height: 0;
   overflow: hidden;
   transition: height 250ms ease;
   z-index: 5;
}

.banner .main-links > ul {
   padding: 1.5em;
}

.banner .main-links a {
   color: #1d1e22;
}

.banner .main-links li:nth-of-type(5) {
   border-bottom: 1px solid #ccc;
   padding-bottom: 1em;
}

.banner .main-links li:last-of-type {
   background-color: #393f4d;
   border-radius: 5px;
   margin-top: 1rem;
   padding: 0.3em;
}

.banner .main-links li:last-of-type a {
   color: #eaeaef;
}

.banner #toggler:checked ~ .main-links {
   height: 350px;
}


/* Main Section */
section {
   max-width: 900px;
   padding: 2em;
   text-align: left;
}

section.about h1 {
   text-align: center;
   font-size: 1.8rem;
   background-color: beige;
}

.about h4 {
   margin-bottom: 1rem;
}

.blog {
   width: 80%;
   max-width: 500px;
   text-align: left;
   margin: 1rem auto;
}

.blog > a {
   font-weight: normal;
}

.blog .content {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   margin-bottom: 1rem;
   padding: 1em;
   border-radius: 3px;
}

.blog .content:not(.nay):hover {
   box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .75);
}

.blog span:first-child {
   display: block;
   font-size: 1.2rem;
   font-weight: 700;
   margin-bottom: 0.7rem;
   color: rgba(0, 0, 0, .75);
}

.blog span:last-child {
   color: rgba(0, 0, 0, .6);
}

.blog .content > button {
   margin-top: 1rem;
   width: 50%;
}

section#dash > h3 {
   text-align: left;
} 

form {
   width: 60%;
   max-width: 500px;
   padding: 2em 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

form > .form-row {
   width: 100%;
   display: flex;
   flex-direction: column;
   text-align: left;
   margin-bottom: 1rem;
}

form > .form-row > label {
   margin-bottom: 0.5rem;
}

form > .form-row > input[type="text"],
form > .form-row > input[type="password"],
form > .form-row > input[type="email"],
form > .form-row > textarea,
form button {
   appearance: none;
   -webkit-appearance: none;
   padding: 0.5em;
   font-family: inherit;
   border: 1px solid #ccc;
   border-radius: 3px; 
}

form > .form-row > textarea {
   resize: none;
   padding: 0;
}

form button {
   width: 100%;
}

form button:hover,
form button:focus {
   background-color: rgba(0, 0, 255, 0.33)
}


/* Footer Section */
footer {
   margin-top: auto;
   background-color: rgb(2, 4, 32);
   text-align: center;
   color: white;
   width: 100%;
   padding: 1em;
}


